/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  /*Her styles teksten*/
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-shadow: 8px 8px 12px magenta;
}

/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  /*Her styles teksten*/
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  /*Her styles teksten*/
  color: #218352;
  font-size: 1.4rem;
  text-shadow: 2px 2px 2px rgb(170 255 61);
  text-indent: 8%;
}

.box3 .content p::first-letter {
  color: blue;
  font-size: 3rem;
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  color: #ff0002;
  font-size: 1.4rem;
  text-transform: uppercase;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  /*Her skriver du koden og bruger fonten (minFont)*/
  font-family: minFont;
  font-size: 4rem;
  font-weight: normal;
  color: #ffa503;
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/
  font-family: rus;
  src: url("russiano/russiano-webfont.woff2") format(woff2);

  font-weight: normal;
  font-style: normal;
}

.box6 .content {
  /*Her skriver du koden og bruger fonten (minAndenFont)*/
  font-family: rus;
  color: #cb2d12;
  font-size: 3rem;
  font-weight: normal;
}
/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  /*Her bruger du fonten (husk at linke til google-fonten i head i din html)*/
  .krona-one-regular {
    font-family: "Krona One";
    font-weight: 400;
    font-style: normal;
  }
  font-family: "Krona One";
  font-size: 2.5rem;
  color: #1283cb;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  /*Her bruger du google-fonten (som du linker til i din html)*/
  .pacifico-regular {
    font-family: "Pacifico";
    font-weight: 400;
    font-style: normal;
  }
  font-family: "Pacifico";
  font-size: 4rem;
  color: #a400fa;
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  /*Her styles teksten*/
  background-color: #e2f7b2;
  font-size: 1.15rem;
  line-height: 1.5rem;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  /*Her styles teksten*/
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-color: #f0ffff;
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  /*Her styles dit link*/
  color: #ff4e00;
  text-decoration: none;
  font-weight: 800;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(bg_images/himmel.jpeg);
  background-size: 100%;
  /*Her styles teksten*/
  font-size: 2.1rem;
  font-weight: 800;
  color: #b22222;
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/
  font-size: 4rem;
  font-weight: 800;

  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(bg_images/himmel.jpeg);
  background-size: 100%;

  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
  background-clip: text;
  color: transparent;
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: linear-gradient(180deg, rgba(242, 92, 222, 1) 26%, rgba(255, 198, 117, 1) 50%, rgba(247, 40, 40, 1) 75%);

  /*Her styles teksten*/
  font-size: 1.8rem;
  font-style: italic;
  color: #e0ffff;
  text-align: right;
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/
  background: url(bg_images/blomst.png), linear-gradient(90deg, rgba(250, 177, 75, 1) 0%, rgba(234, 117, 255, 1) 50%, rgba(22, 173, 181, 1) 89%);

  /* størrelse på de to baggrunde separeret af komma */
  background-size: 25%, cover;

  /* skal baggrundsbilledet gentages? */
  background-repeat: no-repeat;
  /* Hvor skal baggrundsbilledet placeres? */
  background-position: right bottom;
  /*Her styles teksten*/
  font-size: 1.3rem;
  color: #f0ffff;
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: repeating-radial-gradient(circle at top left, black 0px, maroon 16px, pink 30px, white 40px);
}
/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
  background-image: url(bg_images/himmel.jpeg);
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/
  background-image: url(bg_images/blomst.png);
  background-size: 100%;

  /*Baggrundsfarve*/
  background-color: #fed942;
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt blomsten med background-image og background-size*/
  background-image: url(bg_images/blomst.png);
  background-size: 100%;

  /*Baggrundsfarve*/
  background-color: #fed9429e;
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
  background-image: url(bg_images/blue.jpeg);
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/
  width: 100px;
  height: 100px;

  /*Indsæt blomsten med background-image og background-size*/
  background-image: url(bg_images/blomst.png);
  background-size: 100%;

  /*Brug filter så blomsten får en sepia toning*/
  filter: sepia(100%);
}

/*-------------------------------boks 19--------------------------------*/

/*Her kan du lave din egen styling*/
.box19 .content {
  display: flex;
  justify-content: center;

  .tilt-prism-text {
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  }

  background-image: url(bg_images/blomst.png), url(bg_images/pink.jpg);
  background-size: 30%, 100%;
  background-repeat: no-repeat;
  background-position: top right;
  font-family: "Tilt Prism";
  color: #7a0453;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.box19 .content p::first-letter {
  color: #7a0453;
  font-size: 40px;
}

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
.box20 .content {
  font-size: 3rem;
  font-weight: 900;
  background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  background-size: 100%;

  color: White;
}
